Repository keras-team/keras-core, pull requests merged in 2023-08, with the labels that each got.

#623 Convert neural machine translation with transformer to keras-core
  examples/keras_io/nlp/neural_machine_translation_with_transformer.py
Labels: bug

#778 Fix bug: Softmax function to support tuple axes + Add more tests
  keras_core/activations/activations_test.py
  keras_core/ops/nn.py
Labels: keras-team-review-pending

#779 Add `TorchModuleWrapper`
  keras_core/utils/torch_utils.py
Labels: stat:awaiting keras-team

#811 Refactor conv_transpose padding
  keras_core/backend/common/backend_utils.py
  keras_core/backend/jax/nn.py
  keras_core/backend/numpy/nn.py
  keras_core/backend/torch/nn.py
  keras_core/layers/convolutional/conv_transpose_test.py
Labels: keras-team-review-pending

#777 Convert "English-to-Spanish translation with KerasNLP" to keras-core
  examples/keras_io/nlp/neural_machine_translation_with_keras_nlp.py
Labels: keras-team-review-pending
